<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{url_for('static', filename= 'css/bootstrap.min.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/searchbar.css')}}">

    <script src="{{url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>
    <script type="text/javascript" language="javascript" src="{{url_for('static',filename='js/main.js')}}"></script>
</head>

<body>

    <div class="container">

        <div class="row">
            <img src="{{url_for('static',filename='img/goofle.png')}}" alt="gooflelogo" id="goofleLogo">
        </div>

        {% block content %}
        <form method="post" id="searchform" name="searchform" enctype="multipart/form-data" action="/result">

          {{ form.csrf }}

          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <h3>Search: </h3>
              <!--<input type="text" id="txtWord" name="searchtxt" placeholder="Search..." >-->
              {{ form.text }}
            </div>
            <div class="col-md-3"></div>
          </div>

          <br>

          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <h3>Number of results:</h3>
              <!--<input type="text" name="searchnum" placeholder="# Result..." id="numResults">-->
                {{ form.top }}
            </div>

            <div class="col-md-3 text-center">
              <br>
              <button class="btn btn-success" type="submit" id="buttonSearch">Search for words</button>
            </div>
            <div class="col-md-3"></div>
          </div>

        </div>

        </form>

        {% endblock %}

        <hr>
        <div class="footer">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <h5>Disclaimer: Done for educational purposes, no copyright infringement intended</h5>
            <br>
            <h5>Luis Miguel Mejía Suárez, Sergio Lasso y Pedro Calle</h5>
            <h6>Universidad Eafit, Medellín Colombia</h6>
            <h6>2017</h6>
          </div>
          <div class="col-md-4"></div>

        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>
           window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
        </script>

        <script src="{{url_for('static',filename='js/vendor/bootstrap.min.js')}}"></script>
</body>

</html>
